#!/bin/bash
export xlr_db_host=sqlbackend
export xlr_db_port=1433
export xlr_db_name=xlrelease
export xlr_db_username=xlr_admin
export xlr_db_password=mysecurepassword
export xla_db_host=sqlbackend
export xla_db_port=1433
export xla_db_name=xlarchive
export xla_db_username=xla_admin
export xla_db_password=mysecurepassword
export xlr_admin_password=mysecurepassword
export SQLCMDSERVER=sqlbackend,1433
export SQLCMDUSER=sa
export SQLCMDPASSWORD=mysecurepassword
